<div class="line">
  <div class="vertical-inner">
    <div class="size1of2 unit">
      <div class="container">
        <div class="line">
          <div class="inner">
            <h3 class="bottom-inner">All blogs</h3>
            <% @blogs.each do |blog| %>
              <div class="bolded">
                <%= link_to blog.title, blog_path(blog) %>
              </div>
              <div class="bottom-inner"><%= blog.body %></div>
              <%= link_to "Edit", edit_blog_path(blog) %>
              <hr/>
            <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="line">
  <div class="vertical-inner">
    <%= link_to "Add new blog", new_blog_path if user_is_admin? %>
  </div>
</div>
