<div class="line">
  <div class="vertical-inner">
    <div class="size3of4 unit">
      <%= render "shared/single_blog", :@blog => @blogs.last %>

      <div class="line">
        <div class="vertical-inner">
          <%= link_to "Add new blog", new_blog_path, class: "back link" if user_is_admin? %>
        </div>
      </div>
    </div>

    <%= render "shared/about_me"%>
    <%= render "shared/blogs_list", :title => "All posts" %>
  </div>
</div>

