<div class="line">
  <div class="vertical-inner">
    <div class="size1of2 unit">
      <div class="container">
        <div class="line">
          <div class="inner">
            <h3>All blogs</h3><br/>
            <% @blogs.each do |blog| %>
              <div class="bolded">
                <%= link_to blog.title, blog_path(id: blog.id) %>
              </div>
              <div><%= blog.body %></div></br>
              <hr/>
            <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="line">
  <div class="vertical-inner">
    <%= link_to "Add new blog", new_blogs_path %>
  </div>
</div>
