<div class="size1of4 unit">
  <div class="horizontal-inner about-me">
    <div class="horizontal-inner">
      <img class="line" src="/images/jas-profile.png"/>
    </div>
    <div class="line">
      <div class="vertical-inner bolded">About</div>
    </div>
    <div class="description">
      <div class="line">Jasmina Atanassova</div>
      <div class="line">Rails developer, yoga enthusiast, nature lover</div>
      <div class="vertical-inner"><hr/></div>
    </div>
  </div>
</div>