.line { 
  width: 100%; 
  overflow:hidden;
}

.unit { float: left; }
.size1of2 { width: 50%; }
.size1of4 { width: 25%; }
.size1of5 { width: 20%; }

.inner { 
  padding: 10px; 
  overflow:hidden;
}

.vertical-inner { 
  padding: 10px 0; 
}
