body {
  background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');;
}

h1, h3 {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

.main-container {
  width: 960px;
  margin: 0 auto;

  .main {
    background-color: #A65600;
    border: 1px solid #1240AB;
    border-radius: 5px;
    color: white;

    a {
      color: white;
    }

    .category {
      border-right: 1px solid white;
      a {
        text-transform: uppercase;
      }
    }

    .selected {
      background-color: orange;

      a {
        color: black;
      }
    }
  }

  .container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    .time-created {
      color: #808080;
      font-size: 14px
    }

    .title {
      a:hover {
        color: #3f9db8;
      }
    }

    .content {
      img {
        display: block;
        max-width: 100%;
        margin: auto;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.7)
      }
    }
  }

  .top-back-inner {
    padding-top: 2px;
  }

  .back {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color :#fff;
    background-color: #428bca;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #357ebd;

    &.space {
      margin-right: 5px;
    }

    &.link {
      padding: 3px 35px;
      font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serifl
    }
  }

  .bolded {
    font-weight: bold;
  }

  .about-me {
    .description {
      color: #616566;
    }

    img {
      height: 200px;
      width: 200px;
    }

    hr {
      border: 1px solid grey;
    }

    .social-icon {
      padding-top: 15px;
      padding-right: 5px;
      a {
        padding: 15px;
        &.twitter {
          background: url('/images/twitter-round.png') left top no-repeat;
          background-size: 25px;
        }

        &.facebook {
          background: url('/images/facebook-round.png') left top no-repeat;
          background-size: 25px;
        }

        &.github {
          background: url('/images/github.png') left top no-repeat;
          background-size: 25px;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
 body {
  font-size: 14px;
  .main-container {
    width: auto;
  }

  .login-form {
    width: auto;
    .content {
      input, textarea {
        width: auto;
      }
    }
  }

  .category {
    font-size: 13px;
  }

  .border-bottom {
    border: 1px solid #1240AB;
  }
}
}

