body {
  background-color: #F2F2F3;
  background-size: cover;
}

h1, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

.main-container {
  /*width: 75%;*/

  .main {
    background-color: #A65600;
    border: 1px solid #1240AB;
    border-radius: 5px;
    color: white;

    a {
      color: white;
    }

    .category {
      border-right: 1px solid white;
      a {
        text-transform: uppercase;
      }
    }

    .selected {
      background-color: orange;

      a {
        color: black;
      }
    }
  }

  .container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
  }

  .top-back-inner {
    padding-top: 2px;
  }

  .back {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color :#fff;
    background-color: #428bca;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #357ebd;

    &.space {
      margin-right: 5px;
    }

    &.link {
      padding: 3px 35px;
      font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serifl
    }
  }

  .bolded {
    font-weight: bold;
  }
}

