<div class="line main unit">
  <div class="size1of2">
    <% @categories.each do |category| %>
    <div class="unit size1of4">
      <div class="inner category">
        <%= link_to category.name, categories_path(category) %>
      </div>
    </div>
    <% end %>
  </div>
</div>


